<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>login</title>
        <link rel="stylesheet" href="/static/log_style.css">
    </head>
    <body>
        <p><span>Bmi</span>Calculator</p>
        <form id="form" action="/name.py" method="POST">
            <h2>Login</h2>
            <input type="text" name="username" placeholder="Username" autofocus required>
            <input type="email" name="usermail" placeholder="email address" required><br>
            <input type="submit" value="->"> 
        </form>
    </body>
</html>